 
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>消息提示-@{@WorkContext.PanPassConfig.SiteTitle}触屏版</title>
    @Html.Raw(WorkContext.PanPassConfig.SEOKeyword)
    @Html.Raw(WorkContext.PanPassConfig.SEODescription)
   
</head>

<body style="background:#fff;">
<header>
   
  
</header>

<div style="padding:40px; font-size:20px; text-align:center;">@Model.Message</div>


</body>
</html>